.p-tabview-panels{
    min-height: 400px;
    padding:0px !important;
    border-bottom:1px solid rgb(222, 226, 230)!important;
    border-left:1px solid rgb(222, 226, 230)!important;
    border-right:1px solid rgb(222, 226, 230)!important;
    border-bottom-left-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
}